@model GamesShop.Models.Store.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Описание</h1>

<div>
    <h4>Игра</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Developer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreAssigment)
        </dt>
        <dd class = "col-sm-10">
        @foreach (var c in Model.GenreAssigment)
        {
            @Html.DisplayFor(model => c.Genre.Name) @:, 
        }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад в список</a>
</div>
